---
layout: "default"
title: "Blog"
hidden: true
nav_exclude: true
exclude_from_nav: true
---

{% if paginator %}
  {% assign blog_posts = paginator.posts %}
{% else %}
  {% assign blog_posts = site.posts %}
{% endif %}
<ul class="post-list">
{% for post in blog_posts %}
  <li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> <a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
{% if paginator and paginator.total_pages > 1 %}
<nav class="pagination" aria-label="Blog pagination">
  {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">Previous</a>{% endif %}
  <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">Next</a>{% endif %}
</nav>
{% endif %}
