---
layout: "page"
title: "Blog"
hidden: true
nav_exclude: true
exclude_from_nav: true
---

{% assign archive_posts = paginator.posts | default: site.posts %}
<ul class="post-list">
{% for post in archive_posts %}
  <li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> <a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<nav class="pagination" aria-label="Blog pagination">
  {% if paginator.previous_page %}
    <a class="pagination-newer" href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer posts</a>
  {% endif %}
  <span class="pagination-current">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="pagination-older" href="{{ paginator.next_page_path | relative_url }}">Older posts &rarr;</a>
  {% endif %}
</nav>
{% endif %}
